{{#with facebook}}
    <div>
      {{#with data}}
           <p>name:{{name}}</p>
      {{/with}} 
        <br>
      {{#with users}}
           <h1>id:{{id}}</h1>
           <h2>name:{{name}}</h2>
           <h3>gender:{{gender}}</h3>
           <h4>age:{{age}}</h4>
      {{/with}} 
        <br>
      {{#with friends}}
          <div>
            <span>id:{{id}}</span>
            <samp>name:{{name}}</samp>
            <b>gender:{{gender}}</b>
            <article>age:{{age}}</article>
          </div>
      {{/with}}
         <br>
         <br>
           <span>id:{{id}}</span>
           <samp>name:{{name}}</samp>
           <b>gender:{{gender}}</b>
           <article>age:{{age}}</article>
    </div>
{{/with}}
