{{#with js}}
   {{#with data}}
      <div>
        <p>name:{{name}}</p>
        <b>description:{{description}}</b>
        <h2> history:{{year: "year"}}{{founder:"founder"}}</h2>
      </div>
   {{/with}} 
        <br>

   {{#each data}}
      <div>
        <h3>types: {{types}}</h3>
      </div>
    {{/each}}
        <br> 

    {{#each santax}}
        <h6>variables:{{variables}} </h6>
        <p>functions: {{functions}}</p>
        <p>conditionals: {{conditionals}}</p>
        <span>loops: {{loops}}</span>
        <b>classes: {{classes}} </b>
    {{/each}}
    {{#with data}}
        <pre>features: {{features}}</pre>
        <ul>libraries: {{libraries}}</ul>
        <li>tools: {{tools}}</li>
    {{/with}}
{{/with}}
