<main class="p-5">
   <div class="card">
      <div class="card-body">
         {{#with shopcatalog}}
            {{#with navigation}}
                {{#each links}}
                    <p class="btn btn-primary">text: {{text}}</p>
                    <b class="btn btn-danger">href: {{href:}}</b>
                    <br>
                    <h1 class="text-success">text: {{text}}</h1>
                    <h2 class="text-warning">href: {{href}}</h2>
                    <br>
                    <span class="text-info">text: {{text}}</span>
                    <samp class="btn btn-outline-primary">href: {{href}}</samp>
                {{/each}}
            {{/with}}
            <div class="card my-2">
                <div class="card-body">
                    {{#with breadcrumb}}
                       <aside class="text-center">name: {{name}} url: {{url}}</aside>
                       <h4 class="text-primary">name: {{name}}</h4>
                       <h5 class="btn btn-success"> url: {{url}}</h5>
                       <h6 class="btn btn-dark">name: {{name}}</h6>
                       <h3 class="btn btn-outline-secondary">header: {{header}}</h3>
                    {{/with}}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {{#with sortBlock}}
                       <var class="text-end">placeholder: {{placeholder}}</var>
                       {{#each options}}
                          <pre class="text-uppercase">value: {{value}} text: {{text}}</pre>
                          <button class="btn btn-outline-warning">value: {{value}} text: {{text}}</bitton>
                       {{/each}}
                    {{/with}}
                </div>
            </div>
         {{/with}}
      </div>
   </div> 
</main>
