{{#with task22}}
    {{#with header}}
        <div class="display-2">title: {{title}}</div>
        <h2 class="text-end">description: {{description}}</h2>
       <br>
       <div class="card">
         <div class="card-body">
            <div class="card">
               <div class="card-body">
                 {{#each section}}
                   {{#with about_us}}
                     {{#with title_list}}
                       <button class="btn btn-outline-info">main: {{main}}</button>
                       <h4 class="text-muted">sub: {{sub}}</h4>
                     {{/with}}
                     <br>
                     <p class="btn btn-outline-primary">button: {{button}}</p>
                   {{/with}}
                     <br>
                    {{#with advantage}}
                        <b class="btn btn-success">title: {{title}}</b>
                      {{#each efficiency}}
                        <h5 class="text-uppercase">title: {{title}}</h5>
                        <h6 class="text-center">sub_title: {{sub_title}}</h6>
                        <article class="text-bg-danger">description: {{description}}</article>
                        <aside class="text-bg-light">button: {{button}}</aside>
                      {{/each}}
                      <br>
                      {{#each innovation}}
                        <b class="text-bg-secondary">title: {{title}}</b>
                        <samp class="text-bg-dark">sub_title: {{sub_title}}</samp>
                        <span class="taxt-bg-info">description: {{description}}</span>
                        <strong class="text-bg-success">button: {{button}}</strong>
                      {{/each}}
                    {{/with}}
                 {{/each}}
               </div>
            </div>
         </div>
       </div>
    {{/with}}
{{/with}}
