{{#with task21}}
   <div>
    {{#with heading}}
        {{#each main}}
            <h1>title: {{title}}</h1>
            <h2>text: {{text}}</h2>
            {{#with button_text}}
                <b>solid: {{solid}}</b>
                <p>outline: {{outline}}</p>
            {{/with}}
            <br>
            <br>
            {{#with second}}
                <span>title: {{title}}</span>
                <samp>text: {{text}}</samp>
                {{#each button_text}}
                   <article>solid: {{solid}}</article>
                   <aside>outline: {{outline}}</aside>
                {{/each}}
            {{/with}}
            <br>
            <br>
            {{#each subblock}}
                <h3>title: {{title}}</h3>
                <h4>text: {{text}}</h4>
                {{#each button_text}}
                   <h5>solid: {{solid}}</h5>
                   <h6>outline: {{outline}}</h6>
                {{/each}}
            {{/each}}
            <br>
            <br>
            {{#with nested_display}}
                <div>title: {{title}}</div>
                {{#each children_display}}
                    <strong>title: {{title}}</strong>
                    <small>text: {{text}}</small>
                {{/each}}
            {{/with}}
        {{/each}}
    {{/with}}
   </div>
{{/with}}
