<!DOCTYPE html>
<html>
    <head>
        <div>
            {{#with web}}
                <div>
                  <h1>{{name}}</h1>
                   <br>

                   {{#each data}}
                   <div>
                    <h1> version :{{version}}</h1>
                    <h2> description: {{description}}</h2>
                   {{/each}}
                   <br>

                   {{#each elements}}
                      <p>name: {{name}}</p>
                      <h3>description: {{description}}</h3>
                   {{/each}}
                   <br>
                   <hr>

                   {{#with atributes}}
                      <h4>name: {{name}}</h4>
                      <h5>description :{{description}}</h5>
                      <h6>name: {{name}}</h6>
                      <b>description :{{description}}</b>
                   {{/with}}
                </div>
            {{/with}}
        </div>
    </head>
</html>