<main class="p-5">
    <div class="card">
        <div class="card-body">
            {{#with shopreview}}
                {{#with navigation}}
                      {{#each links}}
                         <p class="btn btn-primary">text: {{text}}</p>
                         <b class="btn btn-danger">href: {{href:}}</b>
                         <br>
                         <h1 class="text-success">text: {{text}}</h1>
                         <h2 class="text-warning">href: {{href}}</h2>
                         <br>
                         <span class="text-info">text: {{text}}</span>
                         <samp class="btn btn-outline-primary">href: {{href}}</samp>
                      {{/each}}
                {{/with}}
                <br>
                <div class="card my-2">
                    <div class="card-body">
                        {{#with formblock}}
                           <strong class="text-warning">header: {{header}}</strong>
                           {{#each rating}}
                              <h3 class="text-dark">title: {{title}}</h3>
                              <h4 class="text-muted">value: {{value}}</h4>
                           {{/each}}
                        {{/with}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                       {{#with actionBlock}}
                          {{#each tabs}}
                             <h5 class="text-uppercase">text: {{text}}</h5>
                             <h6 class="text-lowercase">text: {{text}}</h6>
                             <aside class="text-primary">text: {{text}}</aside>
                          {{/each}}
                       {{/with}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                      {{#with report}}
                         <article class="btn btn-outline-success">title: {{title}}</article>
                         {{#each button}}
                            <button class="btn btn-dark">text: {{text}}</button>
                            <p class="text-center">link: {{link}}</p>
                         {{/each}}
                      {{/with}}
                    </div>
                </div>
            {{/with}}
        </div>
    </div>
</main>
